.body{
    height: 150%;
    width: 100%;
    #adopt {
        height: 70%;
        width: 100%;
        background-color: palevioletred;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .classtitulogatos {
            width: 100%;
            height: 8%;
            background-color: red;
            #titulogatos {
                width: 100%;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: #264653;
                background-color: antiquewhite;
            }
        }
        .gat {
            display: flex;
            height: 100px;
            width: 100px;
            margin: 20px;
            margin-bottom: 5px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .subtitulo {
            display: flex;
            height: 30px;
            width: 100px;
            background-color: blue;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


.linkcontacto {
    display: block;
    height: 20%;
    width: 100%;
    background-color: aqua;
    .h1 {
        height: 20%;
        padding-top: 10%;
        #contacto {
            background-color: #f4a261;
            font-size: 15px;
            color: bisque;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
           }
    }
    .boton {
        margin-top: 20px;
        margin-left: 23%;
        border: 20px solid #2a9d8f; 
        background-color: #2a9d8f;
        border-radius: 30%;
        a {
            color: #f4a261;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }
    }

}
// 450 //
@media screen and (max-width:450px) 
{
	.header 
	{
	    height: 20%;
        #logo
	    {
	        margin: 20px;
	        margin-top: 5px;
	        width: 15%;
	        height: 55%;
	    }
	    #titulo 
        {
	        width: 30%;
	        font-size: 30px;
	        display: flex;
	        align-items: center;
	    }
	    .navheader 
        {
	        padding-left: 40px;
	        flex-flow: column nowrap;
            .redes .img 
            {
	            width: 30px;
	            height: 30px;
	            margin: 2px;
	        }
	    }
	}
	main 
    {
	    width: 100%;
	    height: 170%;
	    display: grid;
		grid-template-areas: 
		"nav1 nav2"
		"carousel carousel"
		"presentacion presentacion"
		"perros gatos";
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 13% 20% 40% 10%;
		grid-row-gap: 10px;
        #carousel 
        {
		}
        #nav1 
        {
            padding-top: 30px;
            text-align: center;
        }
        #nav2 
        {
            padding-top: 30px;
            text-align: center;
        }
        li 
        {
            padding-top: 10px;
            list-style-type: none;
            font-size: 15px;
            font-weight: bold;
        }
        #presentacion 
        {
            padding-top: 10px;
            font-size: 18px;
        }
        #perros 
        {
            padding-top: 30px;
            img 
            {
                width: 100px;
                height: 100px;
            }
        }
        #gatos 
        {
            padding-top: 30px;
            img 
            {
                width: 110px;
                height: 110px;
            }
        }
        h3 
        {
            font-size: 20px;
        }
	}
	footer 
    {
		height: 15%;
        a 
        {
            font-size: 14px;
            padding-left: 10px;
        }
	}
	.titulo4 
    {
		font-size: 25px;
	}
	.titulo5
    {
		font-size: 20px;
	}
	textarea 
    {
		height: 100px;
		width: 150px;
	}
	form 
    {
		height: 50%;
		width: 30%;
		margin-left: 35%;
	}
}
.linkferias
{
    background-image: url("../imagenes/fondo2.jpg");
    height: 150%;
    width: 100%;
    #proxactv
    {
     .h2 
     {
        background-color: map-get($colores, verdeaqua);
        height: 20%;
        width: 100%;
        h2 
        {
            font-size: 40px;
            color: map-get($colores, anaranjado)
        }
     }
     .list 
     {
        list-style-type: circle;
        font-size: 20px;
        margin-top: 20px;
     }
     .imgproxactv 
     {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: auto;
        height: 100px;
        width: 100px;
        img 
        {
            height: 100%;
            width:100%;
        }
        img:hover 
        {
            height: 200px;
            width: 200px;
            transition-duration: 3s;
        }
     }
    }
    #ferias
    {
        
        h2 
        {
            font-size: 40px;
            color: map-get($colores, anaranjado)
        }
    }
}